body {
    /* background-image: url("../images/mountain.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* no-repeat center containerter fixed;  */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  */
    background-color: #B6D1D3;
}

@font-face {
    font-family: dimmuFont;
    src: url("../fonts/Melancholy-PersonalUse.ttf");
}

@font-face {
    font-family: mathison;
    src: url("../fonts/Mathison-Regular.otf");
}

@font-face {
    font-family: mathisonBold;
    src: url("../fonts/Mathison-Bold.otf");
}

.mathison {
    font-family: mathison, 'sans-serif';
}

.headTitle {
    font-family: mathison, 'sans-serif';
    color: rgb(206, 5, 48);
    margin-top: 1.3em;
    padding: 1em;
    font-size: 5em;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .headTitle {
        margin-top: 1.5em;
        padding: 0.5em;
        font-size: 1.5em;
        text-align: center;
    }
    
}

#che,
#swi,
#hal,
#pan,
#Tomato,
#Lettuce,
#Capsicum,
#Onion,
#Carrot,
#Pineapple,
#Avocado,
#Pickles {
    color: #ff8800;
}


.w {
    color: white;
    background-color: rgb(206, 5, 48);
    text-align: center;
    border-radius: 10px;
    font-family: 'Arial', 'sans-serif';
    letter-spacing: 0.03em;
    font-size: 1.5em;
    font-weight: 100;
    padding: 0.5em 0 0.5em 0;
}

.icon {
    max-width: 36px;
}

#mid {
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

#midindex {
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    padding-right: 20px;
    margin: auto;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 15px;
    max-width: 1200px;
    margin: auto;
    background: rgba(255, 255, 255, 0.95);
}

/* =============== NAV BAR CODE ===============*/
h1 {
    font-family: mathison, 'sans-serif';
    color: #010E1E;
}


.containerWork {
    margin: 0 auto;
    max-width: 1200px;
}

.nav1 {
    overflow: hidden;
    background-color: #B6D1D3;
    position: relative;
    max-width: 1200px;
    margin: auto;
    top: 0;
}

/* The nav bar from portfoilo */
.nav1 a:not(:first-child) {
    float: right;
    padding: 9.5px 5px;

}

/* Styling Nav bar text */
.nav1 a {
    float: left;
    display: block;
    color: #010E1E;
    background-color: #B6D1D3;
    text-align: center;
    padding: 9.5px 5px;
    text-decoration: none;
    font-size: 40px;
    font-family: mathison, 'sans-serif';
}

.nav1 > a > p {
    font: mathison, 'sans-serif';
}

/* text black and background light gray*/
.nav1 a:hover {
    background-color: #B6D1D3;
    color: #010E1E;
}

/* menubutton hidden default */
.nav1 .menubutton {
    display: none;
}

/* responsive design menu, just another way make this work on different screen sizes */
@media screen and (max-width: 600px) {
    .nav1 a:not(:first-child) {
        float: right;
        padding: 9.5px 20px;
    
    }
    
    /* Styling Nav bar text */
    .nav1 a {
        float: left;
        display: block;
        color: #010E1E;
        background-color: #B6D1D3;
        text-align: center;
        padding: 9.5px 20px;
        text-decoration: none;
        font-size: 25px;
        font-family: mathison, 'sans-serif';
    }
}

/* ------------ NAV BAR CODE ENDS ------------ */

/* ------------ Table ------------ */

table {
    width: 100%;
    padding: 0;
    margin-top: 0;
    border-radius: 10px;
    text-align: center;
    /* border: 1px solid black; */
}

td {
    text-align: center;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
}

.cen {
    text-align: center;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

#Hov:hover {
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
}

noHov:hover {
    display: none;
}

.sideProgress {
    width: 10%;
    margin: auto;
    align-content: center;
}

th {
    text-align: center;
}

.totalrow {
    float: left;
    margin-left: 6%;
    font-size: 1.4em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
    color: #FF8800;
}

/* tr:nth-child(even) :nth-child(odd) {
    background:rgba(100,255,50,0.3);
    }
  tr:nth-child(odd) :nth-child(even) {
    background:rgba(255,255,255,0.3);
    } */

.progressbar {
    margin: 20px 0 20px 0;
    counter-reset: step;
} 

.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    left: -20px;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar li:before {
    width: 15px;
    height: 15px;
    content: '';
    line-height: 30px;
    border: 2px solid #7d7d7d;
    background-color: #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    transition: all .8s;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 7px;
    left: -50%;
    z-index: -1;
    transition: all .8s;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:before {
    border-color: #ff8800;
    ;
    background-color: #ff8800;
    ;
    color: white;
    top: -50px;
    /* font-family: "Font Awesome 5 Free";
    content: "\f058"; */
    transition: all .8s;
}

.progressbar li.active:after {
    background-color: #ff8800;
    transition: all .8s;
}

.btn {
    background-color: #010E1E;
    margin: 5px;
    width: 75px;
    color: white;
}

.btn:hover {
    color: white;
}

.btn:focus {
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

input[type=submit] {
    width: 300px;
    background-color: #010E1E;
    color: white;
    font-size: 1.5em;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }

.btnSub1 {
    /* background-color: red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #010E1E;
    border-color: #010E1E;
    font-size: calc(12px + 1.5vw);
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    /* color: white; */
}

.btnSub {
    /* background-color: red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: crimson;
    border-color:  rgb(206, 5, 48);
    font-size: 1.5em;
    margin: 5px;
    padding: 1vw;
    background: transparent;
    border-radius: 10px;
    /* width: 50%; */
    /* color: white; */
}

.btnSub:hover {
    color: white;
}

.cenBanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
}

/* ------------ NAV BAR CODE ENDS ------------ */

/* The container */
.conradio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.conradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkradio {
    position: absolute;
    top: 1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFD37B;
    border-radius: 50%;
}

label {
    margin-top: 16px;
}

/* On mouse-over, add a grey background color */
.conradio:hover input~.checkradio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.conradio input:checked~.checkradio {
    background-color: #FF8800;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.conradio input:checked~.checkradio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.conradio .checkradio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/*------------------------------------------*/

.cenform {
    margin-left: calc(10% + 1.5vw);
    margin-right: auto;
}

.conform {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.conform input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    top: calc(5px + 1.5vw);
    top: -2px;
    border-radius: 10px;
    height: 25px;
    width: 25px;
    background-color: #FFD37B;
}

/* On mouse-over, add a grey background color */
.conform:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.conform input:checked~.checkmark {
    background-color: #ff8800;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.conform input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.conform .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------------ NAV BAR CODE ENDS ------------ */
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff8800;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff8800;
    cursor: pointer;
}

.loginInput {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    width: 300px;
 }

 input[type="text"][required] {
    background-image: linear-gradient(45deg, transparent, transparent 50%, red 50%, red 100%);
    background-position: top right;
    background-size: .5em .5em;
    background-repeat: no-repeat;
  }
  
  textarea[required] {
    background-image: radial-gradient(red 20%, transparent 25%);
    background-size: 1em 1em;
    background-position: top right;
    background-repeat: no-repeat
  }

/* ------------------------------------*/