body {
    background-image: url("../images/mountain.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* no-repeat center containerter fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: dimmuFont;
    src: url("../fonts/Melancholy-PersonalUse.ttf");
}

#che, #swi, #hal,#pan, #Tomato,#Lettuce, #Capsicum, #Onion,#Carrot,#Pineapple,#Avocado,#Pickles{
    color: #ff8800;
}


.w {
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
    text-align: center;
    border-radius: 10px;
}

.icon {
    max-width: 36px;
}

#mid {
    height: 100%;
    background: rgba(252, 252, 252, 0.6);
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    padding-right: 20px;
    margin: auto;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 15px;
    max-width: 1200px;
    margin: auto;
    background: rgba(252, 252, 252, 0.8);
}

/* =============== NAV BAR CODE ===============*/
h1 {
    font-family: dimmuFont;
    color: red;
}

.nav1 {
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.6);
}

/* The nav bar from portfoilo */
.nav1 a:not(:first-child) {
    float: right;
    padding: 18px 23px;

}

.containerWork {
    margin: 1.5em auto;
    max-width: 1200px;
}

/* Styling Nav bar text */
.nav1 a {
    float: left;
    display: block;
    color: red;
    background-color: white;
    text-align: center;
    padding: 9.5px 31px;
    text-decoration: none;
    font-size: 20px;
}

/* text black and background light gray*/
.nav1 a:hover {
    background-color: #ddd;
    color: red;
}

/* menubutton hidden default */
.nav1 .menubutton {
    display: none;
}

/* responsive design menu, just another way make this work on different screen sizes */
@media screen and (max-width: 600px) {
    .nav1 a:not(:first-child) {
        display: none;
    }

    .nav1 a.menubutton {
        float: right;
        display: block;
    }
}

/* when the width of window is less than 600px (responsive menu) */
@media screen and (max-width: 600px) {
    .nav1.responsive {
        position: relative;
    }
/* Styling Nav bar text */
.nav1 a {
    float: left;
    display: block;
    color: red;
    background-color: white;
    text-align: center;
    padding: 6px 31px;
    text-decoration: none;
    font-size: 18px;
}

    .nav1.responsive .menubutton {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 40px;
    }

    .nav1.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* ------------ NAV BAR CODE ENDS ------------ */


/* ------------ Table ------------ */

table {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    text-align: center;
    /* border: 1px solid black; */
}

td {
    text-align: center;
    font-size:1.2em;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
}

.cen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#Hov:hover {
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 10px;
}

noHov:hover {
    display: none;
}
.sideProgress {
    width: 10%;
    margin: auto;
    align-content: center;
}

th {
    text-align: center;
}

.totalrow{
    float: left;
    margin-left:6%; 
    font-size:calc(8px + 1.5vw);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #ff8800;
}

/* tr:nth-child(even) :nth-child(odd) {
    background:rgba(100,255,50,0.3);
    }
  tr:nth-child(odd) :nth-child(even) {
    background:rgba(255,255,255,0.3);
    } */

.progressbar {
    margin: 20px 0 20px 0;
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}

.progressbar li:before {
    width: 15px;
    height: 15px;
    content: '';
    line-height: 30px;
    border: 2px solid #7d7d7d;
    background-color: #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    transition: all .8s;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 7px;
    left: -50%;
    z-index: -1;
    transition: all .8s;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:before {
    border-color: #ff8800;;
    background-color: #ff8800;;
    color: white;
    top: -50px;
    /* font-family: "Font Awesome 5 Free";
    content: "\f058"; */
    transition: all .8s;
}

.progressbar li.active:after {
    background-color: #ff8800;
    transition: all .8s;
}

.btn {
    background-color: red;
    margin: 5px;
    width: 75px;
    color: white;
}

.btn:hover {
    color: white;
}

.btn:focus {
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btnSub {
    /* background-color: red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    border-color: red;
    font-size: 3vw;
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    /* color: white; */
  }

  .btnSub1 {
    /* background-color: red; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    border-color: red;
    font-size:calc(12px + 1.5vw);
    margin: 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    /* color: white; */
  }
  .btnSub:hover {
    color: white;
  }
/* ------------ NAV BAR CODE ENDS ------------ */

/* The container */
.conradio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.conradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkradio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFD37B;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.conradio:hover input ~ .checkradio {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.conradio input:checked ~ .checkradio {
    background-color: #ff8800;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkradio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.conradio input:checked ~ .checkradio:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.conradio .checkradio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
	border-radius: 50%;
	background: white;
}

/*------------------------------------------*/

.cenform{
    margin-left: calc(10% + 1.5vw);
    margin-right: auto;
}
.conform {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.conform input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    top:calc(5px + 1.5vw);
    top: 5px;
    border-radius: 10px;
    height: 25px;
    width: 25px;
    background-color: #FFD37B;
}

/* On mouse-over, add a grey background color */
.conform:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.conform input:checked ~ .checkmark {
    background-color: #ff8800;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.conform input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.conform .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ------------ NAV BAR CODE ENDS ------------ */
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ff8800;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff8800;
    cursor: pointer;

}
/* ------------------------------------*/