{% extends "layout.html" %}

{% block content %}
<p>Putting a burger in the database:</p>
<form>
  <input id="burgerBun" type="radio"></input>
  <input id="chicken" type="checkbox"></input>
  <input id="beef" type="checkbox"></input>
  <input id="tofu" type="checkbox"></input>
</form>

<p>Got these rows from the database:</p>

<ul>
{% for i in ingredient %}
  <li> {{ i.ingredient }} </li>
{% else %}
  <li>No Ingredients Found</li>
{% endfor %}
</ul>

{% endblock %}