{% extends "layout.html" %}

{% block content %}
<p>Got these rows from the database:</p>

<ul>
{% for i in ingredients %}
  <li> {{ i.ingredient }} </li>
{% else %}
  <li>No Ingredients Found</li>
{% endfor %}
</ul>

{% endblock %}