{% extends "layout.html" %}

{% block content %}

<div class="container">
<div id="mid">
    <div class="row">
    <div class="twelve columns">
        <h1>Dimmu Burger</h1>
        <p>Connectivity Testing Page</p>
    </div>
    </div>
</div>
</div>

{% endblock %}
