{% extends "layout.html" %}

{% block content %}

<div class="container">
    <form id="order-form">
        <div class="twelve columns">
            <div style="margin-top: 60px"><h2>Dimmu Burger</h2></div>
            <div class="bread">
                <div class="title">
                    <h4>Breads</h4>
                </div>
                <table>
                    <columns>
                        <col width="10%"/>
                        <col width="40%"/>
                        <col width="30%"/>
                        <col width="20%"/>
                    </column>
                    <tr>
                        <td><img src="ingredients_icons/breads/bun.png" class="icon"></td>    
                        <td class="ingredient-text">Regular Burger</td>  
                        <td><input id="regularBurger" type="radio" name="meat" value="regularBurger" class="check" /></td>  
                    <tr>
                    <tr>
                        <td><img src="ingredients_icons/breads/bun.png" class="icon"></td>    
                        <td class="ingredient-text">Junior Burger</td>  
                        <td><input id="juniorBurger" type="radio" name="meat" value="juniorBurger" class="check" /></td>  
                    <tr>
                    <tr>
                        <td><img src="ingredients_icons/breads/bun.png" class="icon"></td>    
                        <td class="ingredient-text">Tortilla</td>  
                        <td><input id="tortilla" type="radio" name="meat" class="check" value="tortilla" /></td>  
                    <tr>
                </table>
            </div>
            <div class="protein">
                <div class="title">
                    <h4>Protein</h4>
                </div>
                <table>
                    <columns>
                        <col width="10%"/>
                        <col width="40%"/>
                        <col width="30%"/>
                        <col width="20%"/>
                    </column>
                    <tr>
                        <td><img src="ingredients_icons/bases/chicken.png" class="icon"></td>    
                        <td class="ingredient-text">Chicken</td>  
                        <td><input id="chicken" type="checkbox" name="chicken" class="check" /></td>  
                    <tr>
                    <tr>
                        <td><img src="ingredients_icons/bases/meat.png" class="icon"></td>    
                        <td class="ingredient-text">Beef</td>  
                        <td><input id="beef" type="checkbox" name="beef" class="check" /></td>  
                    <tr>
                    <tr>
                        <td><img src="ingredients_icons/bases/tofu.png" class="icon"></td>    
                        <td class="ingredient-text">Tofu</td>  
                        <td><input id="tofu" type="checkbox" name="tofu" class="check" /></td>  
                    <tr>
                </table>        
            </div>
        </div>
        <div class="twelve columns" style="margin-top: 30px; margin-bottom: 60px">
            <input id="extra" type="text"></input>
            <div class="yourOrder">
                <p id="result"></p>
            </div>
            <button id="addBurger" class="button" >Add Another Burger</button>
            <br/>
            <input id="submit" type="submit" class="button" value="submit"></input>
            
        </div>
    </form>
</div>


{% endblock %}
