{% extends "layout.html" %}

{% block content %}
	<div class="sticky">
		<!-- <div class="sticky"> -->
		<table style="text-align:center;">
			<Tr>
				<!-- <Td class="sideProgress"><button class="btn" id="Back" href="https://www.google.com">&lt;</button></td> -->
				<td>
					<ul id="progress-bar" class="progressbar">
						<!-- <a href="#bread"> -->
						<li class="active">Bread</li>
						<!-- </a> -->
						<!-- <a href="#base1"> -->
						<li>Base</li>
						<!-- </a> -->
						<li>Cheese</li>
						<li>Vegetable</li>
						<li>Sauce</li>
					</ul>
				</td>
			<tr>
				<td class="totalrow">
					<div class="cen">Total Price <span id="totalPrice"></span></div>
				</td>
			</tr>
			<!-- <Td class="sideProgress"><a href="#google"><button class="btn" onclick="change()" id="Next">&gt;</button></a></td> -->
			</tr>
		</table>
	</div>
	<!-- </div> -->
	<div class="containerWork">
		<div id="mid">
			<h1 id="bread">ORDER BURGER</h1>
			<!-- Bread
			    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<h2 class="w">Bread</h2>
			<table id="custom">
				<tr id="Hov">
					<td width="15%">
						<div class="cen"><img src="ingredients_icons/breads/bun.png" class="icon"></div>
					</td>
					<td>
						<div class="cenform">
							<label class="conradio" style="font-size: 1.2em">Burger
								<input type="radio" name="Bread" value="" onclick="mybread()" id="radio1">
								<span class="checkradio"></span>
							</label>
						</div>
					</td>
					<td width="25%"><span id="pbur"></span></td>
				</tr>
				<tr id="Hov">
					<td width="15%">
						<div class="cen"><img src="ingredients_icons/breads/junior_bun.png" class="icon"></div>
					</td>
					<td id="base1">
						<div class="cenform">
							<label class="conradio" style="font-size: 1.2em"> Jr Burger
								<input type="radio" name="Bread" value="" onclick="mybread()" id="radio2">
								<span class="checkradio"></span>
							</label>
						</div>
					</td>
					<td width="25%"><span id="pjrbur"></span></td>
				</tr>
				<tr id="Hov">
					<td width="15%">
						<div class="cen"><img src="ingredients_icons/breads/tortillas.png" class="icon"></div>
					</td>
					<td>
						<div class="cenform">
							<label class="conradio" style="font-size: 1.2em">Tortillas
								<input type="radio" name="Bread" value="" onclick="mybread()" id="radio3">
								<span class="checkradio"></span>
							</label>
						</div>
					</td>
					<td width="25%"><span id="pwra"></span></td>
				</tr>
			</table>
			<!-- Base Protein
			    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<div id="baseshow" style="display: none">
				<h2 class="w">Base Protein</h2>
				<table id="custom">
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/bases/chicken.png" class="icon"></div>
						</td>
						<td>
							<div class="cenform">
								<label class="conradio" style="font-size: 1.2em">Chicken
									<input type="radio" name="Base" value="" onclick="mybase()" id="radio4">
									<span class="checkradio"></span>
								</label>
							</div>
						</td>
						<td width="25%"><span id="pchi"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/bases/meat.png" class="icon"></div>
						</td>
						<td>
							<div class="cenform">
								<label class="conradio" style="font-size: 1.2em">Meat
									<input type="radio" name="Base" value="" onclick="mybase()" id="radio5">
									<span class="checkradio"></span>
								</label>
							</div>
						</td>
						<td width="25%"><span id="pmea"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/bases/falafel.png" class="icon"></div>
						</td>
						<td>
							<div class="cenform">
								<label class="conradio" style="font-size: 1.2em">Falafel
									<input type="radio" name="Base" value="" onclick="mybase()" id="radio6">
									<span class="checkradio"></span>
								</label>
							</div>
						</td>
						<td width="25%"><span id="pfal"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/bases/tofu.png" class="icon"></div>
						</td>
						<td>
							<div class="cenform">
								<label class="conradio" style="font-size: 1.2em">Vege Tofu
									<input type="radio" name="Base" value="" onclick="mybase()" id="radio7">
									<span class="checkradio"></span>
								</label>
							</div>
						</td>
						<td width="25%"><span id="ptof"></span></td>
					</tr>
				</table>
				<button class="btnSub1" onclick="skipbase()">Skip</button>
				<hr>
			</div>
			<!-- Cheese
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<div id="cheeseshow" style="display: none">
				<h2 class="w">Cheese</h2>
				<table id="custom">
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/cheeses/cheese.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="2" value="0" class="slider" id="myche" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Cheddar <span id="che"></span> </div>
						</td>
						<td width="25%"><span id="pche"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/cheeses/cheese (1).png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="2" value="0" class="slider" id="myswi" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Swiss <span id="swi"></span> </div>
						</td>
						<td width="25%"><span id="pswi"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/cheeses/halloumi.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="2" value="0" class="slider" id="myhal" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Halloumi <span id="hal"></span> </div>
						</td>
						<td width="25%"><span id="phal"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/cheeses/paneer.jpg" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="2" value="0" class="slider" id="mypan" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Paneer <span id="pan"></span> </div>
						</td>
						<td width="25%"><span id="ppan"></span></td>
					</tr>
				</table>
				<button class="btnSub1" onclick="skipchee()">Skip</button>
				<hr>
			</div>
			<!-- Vegetable
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<div id="vegeshow" style="display: none">
				<h2 class="w">Vegetable</h2>
				<table id="custom">
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/tomato.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="3" value="0" class="slider" id="myTomato" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Tomato <span id="Tomato"></span> </div>
						</td>
						<td width="25%"><span id="ptom"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/lettuce.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="3" value="0" class="slider" id="myLettuce" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Lettuce <span id="Lettuce"></span> </div>
						</td>
						<td width="25%"><span id="plet"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/capsicum.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="3" value="0" class="slider" id="myCapsicum" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Capsicum <span id="Capsicum"></span> </div>
						</td>
						<td width="25%"><span id="pcap"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/onion.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="3" value="0" class="slider" id="myOnion" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Onion <span id="Onion"></span> </div>
						</td>
						<td width="25%"><span id="poni"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/carrot.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="3" value="0" class="slider" id="myCarrot" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Carrot <span id="Carrot"></span> </div>
						</td>
						<td width="25%"><span id="pcar"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/extras/pineapple.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="3" value="0" class="slider" id="myPineapple" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Pineapple <span id="Pineapple"></span> </div>
						</td>
						<td width="25%"><span id="ppin"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/extras/avocado.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="3" value="0" class="slider" id="myAvocado" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Avocado <span id="Avocado"></span> </div>
						</td>
						<td width="25%"><span id="pavo"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/extras/pineapple.png" class="icon"></div>
						</td>
						<td width="30%">
							<div class="cen">
								<div class="""slidecontainer">
									<input type="range" min="0" max="3" value="0" class="slider" id="myPickles" name="comment">
								</div>
							</div>
						</td>
						<td width="30%">
							<div class="cen">Pickles <span id="Pickles"></span> </div>
						</td>
						<td width="25%"><span id="ppic"></span></td>
					</tr>
				</table>
				<button class="btnSub1" onclick="skipvege()">Skip</button>
				<hr>
			</div>
			<!-- Sauce
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<div id="sauceshow" style="display: none">
				<h2 class="w">Sauce</h2>
				<table id="custom">
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/tomato.png" class="icon"></div>
						</td>
						<td>
							<div class="cenform">
								<label class="conform" style="font-size: 1.2em">Mayonnaise
									<input type="checkbox" name="" value="" onclick="mayoT()" id="mayo">
									<span class="checkmark"></span>
								</label>
							</div>
						</td>
						<td width="25%"><span id="pmayo"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/tomato.png" class="icon"></div>
						</td>
						<td>
							<div class="cenform">
								<label class="conform" style="font-size: 1.2em">
									<p>Aioli</p>
									<input type="checkbox" name="" value="" onclick="aioliT()" id="aioli">
									<span class="checkmark"></span>
								</label>
							</div>
						</td>
						<td width="25%"><span id="paioli"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/tomato.png" class="icon"></div>
						</td>
						<td>
							<div class="cenform">
								<label class="conform" style="font-size: 1.2em">Curry Sauce
									<input type="checkbox" name="" value="" onclick="curryT()" id="curry">
									<span class="checkmark"></span>
								</label>
							</div>
						</td>
						<td width="25%"><span id="pcurry"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/tomato.png" class="icon"></div>
						</td>
						<td>
							<div class="cenform">
								<label class="conform" style="font-size: 1.2em">Italian Dressing
									<input type="checkbox" name="" value="" onclick="itaT()" id="ita">
									<span class="checkmark"></span>
								</label>
							</div>
						</td>
						<td width="25%"><span id="pita"></span></td>
					</tr>
					<tr id="Hov">
						<td width="15%">
							<div class="cen"><img src="ingredients_icons/produce/tomato.png" class="icon"></div>
						</td>
						<td>
							<div class="cenform">
								<label class="conform" style="font-size: 1.2em">Hot Chilli
									<input type="checkbox" name="" value="" onclick="hotcT()" id="hotc">
									<span class="checkmark"></span>
								</label>
							</div>
						</td>
						<td width="25%"><span id="photc"></span></td>
					</tr>
					<hr>
				</table>
				<button class="btnSub1" onclick="skipsau()">No Sauce</button>
			</div>
			<!-- <table id="custom">
				<tr>
					<td style="color:red">Total</td>
					<td>Quantity</td>
					<td>Price</td>
				</tr>
			</table> -->
			<br>
			<div id="subhide" style="display: none;">
				<table id="custom noHov">
					<tr>
						<td>
							<div class="cen"><button class="btnSub" id="Order">Proceed with order</button></div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="cen"><button class="btnSub" id="Another">Order Another Burger</button></div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	</div>
	</div>


{% endblock %}