<p>Putting a burger in the database:</p>
<form>
  <input id="burgerBun" type="radio" value="0">Burger Bun</input>
  <br/>
  <input id="chicken" type="checkbox" value="0">Chicken</input>
  <br/>
  <input id="beef" type="checkbox" value="0">Beef</input>
  <br/>
  <input id="tofu" type="checkbox" value="0">Tofu</input>
  <br>
  <input id="test" type="text"></input>
  <br/><br/>
  <button class="button">Submit</button>
</form>